{% extends "base.html" %}
{% block title %}
{% if articles_page.has_previous() and articles_page.number > 1 %}
{{ SITENAME }}: {{ SITE_TITLE }}, page {{ articles_page.number }}
{% else %}
{{ SITENAME }}: {{ SITE_TITLE }}
{% endif %}
{% endblock %}
{% block description %}
{% if articles_page.has_previous() and articles_page.number > 1 %}
This is page {{ articles_page.number }} of {{ SITE_DESCRIPTION }}
{% else %}
{{ SITE_DESCRIPTION }}
{% endif %}
{% endblock %}
{% block content %}
        <section id="content">
{% block content_title %}
{% endblock %}
          <div class="row">
            <div class="eleven columns">
              <ol id="post-list">

{% for article in articles_page.object_list %}
                <li>
                  <article class="hentry">
                    <header>
                      <h2 class="entry-title" itemprop="name"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}" itemprop="url">{{ article.title }}</a></h2>
                    </header>
                    <footer class="post-info">
                      <time datetime="{{ article.date.strftime(DATE_ISO) }}"><abbr title="{{ article.date.strftime(DATE_ISO) }}">{{ article.locale_date }}</abbr></time>
                      <time class="published hidden" itemprop="datePublished" datetime="{{ article.date.strftime(DATE_ISO) }}">{{ article.date.strftime(DATE_ISO) }}</time>
                      <time class="updated hidden" itemprop="dateModified" datetime="{{ article.mdate.strftime(DATE_ISO) }}">{{ article.mdate.strftime(DATE_ISO) }}</time>
{% if article.author %}
                      <address>By <span class="vcard author"><span class="fn" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person"><span itemprop="name">{{ article.author }}</span></span></span></address>
{% endif %}
                    </footer><!-- /.post-info -->
                    <div class="entry-content" itemprop="description">
                      {{ article.summary }}
                    </div><!-- /.entry-content -->
                    <div class="medium primary btn">
                      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">Read more <i class="icon-arrow-right"></i></a>
                    </div><!-- /.medium .primari .btn -->
                    <div class="row tag-row">
{% if article.tags %}
                      <span>Tags: </span>
{% for tag in article.tags %}
                        <a class="danger label" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
{% endfor %}
{% endif %}
                    </div><!-- /.row .tag-row -->
                  </article><!-- /.hentry -->
                </li>

{% endfor %}
              </ol><!-- /#posts-list -->
            </div><!-- /.eleven.columns -->
{% include 'sidebar.html' %}

          </div><!-- /.row -->
{% include 'pagination.html' %}

        </section><!-- /#content -->
{% endblock content %}